__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.pyo
**/*.pyo
*.pyd
**/*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
python/
*.egg-info
